@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Newsreader:wght@200&family=Roboto:wght@500&display=swap');
.main {
    margin-bottom: 700px;
}

@media only screen and (max-width:750px) {
    .main {
        margin-bottom: 450px;
    }
}

.bg-image {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 50px;
    opacity: 0.7;
    filter: brightness(40%);
}

.text-container p:nth-child(1) {
    font-weight: bold;
    color: white;
    font-size: 22px;
}

.text-container p:nth-child(2) {
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    font-size: 60px;
}

.text-container p:nth-child(3) {
    font-family: myriad pro regular;
    color: white;
    font-size: 30px;
    line-height: 30px;
}

.text-container p {
    margin: 45px 0px 25px;
    line-height: 0px;
}

.text-container {
    z-index: 10;
    position: absolute;
    left: 13%;
    top: 70%;
    transform: translate(-5%, 82%);
}

.text-container button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.banner-image {
    z-index: 1;
}

@media only screen and (max-width:990px) {
    .text-container {
        z-index: 10;
        position: absolute;
        left: 13%;
        top: 70%;
        transform: translate(-5%, 10%);
    }
    .text-container p:nth-child(2) {
        font-family: calibri;
        font-weight: bold;
        color: white;
        font-size: 30px;
    }
}

@media only screen and (max-width:460px) {
    .text-container button {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .text-container {
        z-index: 10;
        position: absolute;
        left: 13%;
        top: 70%;
        transform: translate(-5%, 5%);
    }
    .text-container p:nth-child(2) {
        font-family: calibri;
        font-weight: bold;
        color: white;
        font-size: 20px;
    }
    .text-container p:nth-child(3) {
        font-family: myriad pro regular;
        color: white;
        font-size: 20px;
        line-height: 30px;
    }
    .text-container button {
        display: none;
    }
}

.about-container {
    width: 100%;
    height: 330px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    top: 200%;
    justify-content: space-evenly;
}

@media only screen and (max-width:1200px) and (min-width:992px) {
    .about-container {
        width: 90%;
    }
}

@media only screen and (max-width:991px) and (min-width:769px) {
    .about-container {
        position: relative;
        top: 150%;
        width: 90%;
    }
}

@media only screen and (max-width:769px) and (min-width:500px) {
    .about-container {
        position: relative;
        display: none;
        top: 110%;
        width: 90%;
    }
}

@media only screen and (max-width:500px) {
    .about-container {
        position: relative;
        display: none;
        top: 100%;
        width: 90%;
    }
}

.about-container img {
    width: 200px;
    height: 250px;
}

.about-text {
    width: 500px;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2) {
    color: #3e3d3d;
    font-size: 13px;
    font-family: myriad pro;
    font-weight: bold;
    line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4) {
    color: #7e7d7d;
    font-family: calibri;
    font-size: 16px;
}

.about-text button {
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: calibri;
    background-color: #262525;
}

.header {
    text-align: center;
    font-family: myriad pro regular;
}

.second-card {
    position: absolute;
    top: 50px;
    left: 10%;
}

.third-card {
    position: absolute;
    top: 100px;
    left: 20%;
}

@media only screen and (max-width:573px) {
    .first-card {
        position: absolute;
        left: 10%;
    }
    .second-card {
        margin-left: 10%;
    }
    .third-card {
        margin-left: 10%;
    }
}

.viewmore-btn {
    position: relative;
    top: 100px;
    left: 44%;
    border: none;
    width: 130px;
    height: 40px;
    color: white;
    background-color: #1E1E33;
    font-weight: bold;
}

@media only screen and (max-width:573px) {
    .second-card {
        position: absolute;
        left: 0%;
    }
    .third-card {
        position: absolute;
        left: 0%;
    }
    .viewmore-btn {
        position: relative;
        top: 100px;
        left: 0%;
    }
}

.genre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    font-weight: bolder;
}

.genre-row img {
    opacity: 0.7;
    filter: brightness(30%);
    z-index: 1;
}

.team img {
    width: 80%;
}

.team .content {
    width: 50%;
}

h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 30px 0 60px;
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #8fbc54;
    left: 0;
    right: 0;
    bottom: -10px;
}