@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.navitems ul li {
    font-family: 'Bree Serif', serif;
    padding-right: 80px;
}

.navitems ul li i {
    color: #252757;
}

.popup-box-on {
    display: block !important;
}

.off {
    display: none;
}

#search.open {
    opacity: 1;
    transform: translate(0px, 0px) scale(1, 1);
}

#search {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 2000;
}

#search .close {
    color: #be5254;
    font-size: 40px;
    opacity: 1;
    padding: 10px 17px;
    position: fixed;
    right: 15px;
    top: 15px;
}

#search input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 300;
    margin: -51px auto 0;
    outline: medium none;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

#search .btn {
    left: 50%;
    margin-top: 60px;
    padding: 10px 50px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}